/* 外套 */

#top_wrap,
#header_wrap {
    width: 100%;
}


/* 版心 */

#top,
#header {
    width: 990px;
    margin: 0 auto;
}


/* 顶部导航 */

#top {
    height: 30px;
    background-color: #cecece;
    position: relative;
    .fl {
        width: 58px;
        height: 30px;
        float: left;
        cursor: pointer;
        .flist {
            width: 58px;
            height: 30px;
            /*  &:hover {
                color: red;
            } */
            i {
                display: inline-block;
                width: 14px;
                height: 15px;
                font-size: 14px;
                margin-left: 5px;
                color: red;
                margin-top: 7px;
            }
            span {
                position: absolute;
                top: 6px;
                margin-left: 5px;
                color: #999;
                width: 24px;
                height: 15px;
                line-height: 15px;
                font-size: 12px;
            }
        }
    }
}

@mixin SL {
    width: 20px;
    height: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin a {
    color: #999;
    display: inline-block;
    float: left;
    margin-top: 5px;
    cursor: pointer;
    &:hover {
        color: red;
    }
}

@mixin span {
    display: inline-block;
    margin-top: 6px;
    // margin-left: 9px;
    color: #999;
    font-size: 12px;
}

.fr {
    width: 693px;
    height: 30px;
    float: right;
    font-size: 12px;
    li {
        float: left;
    }
    li:nth-of-type(1) {
        width: 120px;
        height: 30px;
        margin-right: 10px;
        a:nth-of-type(1) {
            @include a;
            width: 72px;
            height: 16px;
            line-height: 16px;
            margin-left: 0;
        }
        a:nth-of-type(2) {
            @include SL;
            @include a;
            margin-left: 10px;
            color: red;
        }
        span {
            @include span;
            margin-left: 10px;
        }
    }
    li:nth-of-type(2) {
        width: 62px;
        height: 30px;
        a {
            @include a;
            width: 48px;
            height: 16px;
            margin-right: 5px;
        }
        span {
            @include span;
        }
    }
    li:nth-of-type(3) {
        width: 77px;
        height: 30px;
        &:hover {
            border: 1px solid #999;
            border-bottom: none;
        }
        a {
            @include a;
            width: 48px;
            height: 16px;
            margin-right: 5px;
        }
        b {
            display: inline-block;
            width: 12px;
            height: 12px;
            font-size: 12px;
            margin-top: 6px;
            border: 1px solid red;
        }
        span {
            @include span;
        }
    }
    li:nth-of-type(4) {
        width: 62px;
        height: 30px;
        a {
            @include a;
            width: 48px;
            height: 16px;
            margin-right: 8px;
        }
        span {
            @include span;
        }
    }
    li:nth-of-type(5) {
        width: 77px;
        height: 30px;
        // margin-left: 10px;
        a {
            @include a;
            width: 48px;
            height: 16px;
            color: red;
            // margin-right: 12px;
        }
        b {
            display: inline-block;
            width: 12px;
            height: 12px;
            font-size: 12px;
            margin-top: 6px;
            border: 1px solid red;
        }
        span {
            @include span;
        }
    }
    li:nth-of-type(6) {
        width: 77px;
        height: 30px;
        a {
            @include a;
            width: 48px;
            height: 16px;
            // margin-right: 12px;
        }
        b {
            display: inline-block;
            width: 12px;
            height: 12px;
            font-size: 12px;
            margin-top: 6px;
            border: 1px solid red;
        }
        span {
            @include span;
        }
    }
    li:nth-of-type(7) {
        width: 80px;
        height: 30px;
        a {
            @include a;
            width: 48px;
            height: 16px;
            // margin-right: 12px;
        }
        b {
            display: inline-block;
            width: 12px;
            height: 12px;
            font-size: 12px;
            margin-top: 6px;
            border: 1px solid red;
        }
        span {
            @include span;
        }
    }
    li:nth-of-type(8) {
        width: 62px;
        height: 30px;
        a {
            @include a;
            width: 48px;
            height: 16px;
        }
    }
}


/* 二级菜单（我的京东） */

.uli {
    margin-top: 7px;
    display: none;
    width: 250px;
    height: 180px;
    border: 1px solid #999;
    background-color: white;
    // z-index: 99;
    .uliup {
        width: 200px;
        height: 100px;
        .uliup_lef {
            width: 100px;
            height: 100px;
            float: left;
            margin-left: 10px;
            margin-top: 10px;
            a {
                width: 100px;
                height: 100px;
                color: #999;
                font-size: 12px;
                &:hover {
                    color: red;
                }
            }
            li:nth-of-type(3) {
                &:hover {
                    border: none;
                }
            }
        }
        .uliup_rig {
            float: left;
            width: 90px;
            height: 100px;
            margin-top: 10px;
            color: #999;
            font-size: 12px;
        }
    }
    .ulilow {
        width: 250px;
        height: 100px;
        border-top: 1px solid #cecece;
        .ulilow_lef {
            width: 100px;
            height: 100px;
            float: left;
            margin-left: 10px;
            margin-top: 10px;
            a {
                width: 100px;
                height: 100px;
                color: #999;
                font-size: 12px;
                &:hover {
                    color: red;
                }
            }
        }
        .ulilow_rig {
            float: left;
            width: 90px;
            height: 100px;
            margin-top: 10px;
            color: #999;
            font-size: 12px;
        }
    }
}


/* 头部 */

#header_wrap {
    background-color: white;
}

#header {
    height: 140px;
    background-color: lightcyan;
    line-height: 140px;
    // overflow: hidden;
    position: relative;
    h1 {
        width: 190px;
        height: 120px;
        // margin-top: 9px;
        position: absolute;
        top: 9px;
        img {
            width: 190px;
            height: 120px;
        }
    }
    .search {
        width: 990px;
        height: 60px;
        // border: 1px solid red;
        .search_in {
            width: 490px;
            height: 34px;
            border: 2px solid red;
            position: absolute;
            top: 24px;
            left: 210px;
            .in {
                width: 400px;
                height: 32px;
                input {
                    display: inline-block;
                    width: 370px;
                    height: 32px;
                    border: none;
                    color: #999;
                    font-size: 12px;
                    padding-left: 17px;
                    position: absolute;
                    top: 0;
                }
                i {
                    display: inline-block;
                    width: 20px;
                    height: 34px;
                    line-height: 34px;
                    padding-left: 10px;
                    padding-right: 10px;
                    background-color: white;
                    font-size: 20px;
                    color: #999;
                    position: absolute;
                    left: 378px;
                }
            }
            button {
                width: 75px;
                height: 34px;
                background-color: red;
                border: none;
                position: absolute;
                top: 0;
                left: 415px;
                i {
                    width: 20px;
                    height: 22px;
                    font-size: 20px;
                    color: white;
                }
            }
        }
    }
    .cart {
        width: 130px;
        height: 36px;
        border: 1px solid #cecece;
        position: absolute;
        top: -2px;
        left: 510px;
        cursor: pointer;
        &:hover {
            border-color: red;
        }
        i {
            // display: inline-block;
            width: 16px;
            height: 18px;
            font-size: 16px;
            color: red;
            position: absolute;
            top: -53px;
            left: 15px;
        }
        p {
            // display: inline-block;
            font-size: 14px;
            color: red;
            margin-left: 8px;
            position: absolute;
            top: -53px;
            left: 40px;
        }
    }
}

.ma_head {
    width: 66px;
    height: 66px;
    margin: 5px;
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: -1px 1px 1px 1px #cecece;
    img {
        width: 66px;
        height: 66px;
    }
}


/* 行列1 */

.mid_head {
    width: 460px;
    height: 20px;
    color: #999;
    font-size: 12px;
    position: relative;
    margin-left: 210px;
    margin-top: 10px;
    a {
        position: absolute;
        top: -60px;
        &:hover {
            color: red;
        }
    }
    a:nth-of-type(1) {
        left: 5px;
        color: red;
    }
    a:nth-of-type(2) {
        left: 75px;
    }
    a:nth-of-type(3) {
        left: 135px;
    }
    a:nth-of-type(4) {
        left: 195px;
    }
    a:nth-of-type(5) {
        left: 250px;
    }
    a:nth-of-type(6) {
        left: 310px;
    }
    a:nth-of-type(7) {
        left: 370px;
    }
    a:nth-of-type(8) {
        left: 405px;
    }
}


/* 行列2 */

.under_head {
    width: 762px;
    height: 40px;
    padding-top: 10px;
    margin-left: 210px;
    .under {
        width: 762px;
        height: 40px;
        li {
            width: 80px;
            height: 40px;
            line-height: 40px;
            float: left;
            text-align: center;
            a {
                color: #666;
                font-size: 15px;
                &:hover {
                    color: red;
                }
            }
        }
        li:nth-of-type(1) {
            width: 50px;
            a {
                color: red;
            }
        }
        li:nth-of-type(2) {
            a {
                color: red;
            }
        }
        li:nth-of-type(5) {
            width: 50px;
        }
    }
}