#header_wrap,
#footer_wrap,
#tip_wrap {
    width: 100%;
    background-color: white;
}

#tip_wrap {
    background-color: oldlace;
}

#header,
#tip,
#banner,
#footer {
    width: 990px;
    margin: 0 auto;
}


/* 头部 */

#header {
    height: 70px;
}


/* logo */

h1 {
    width: 300px;
    height: 60px;
    margin: 10px 0;
    overflow: hidden;
    float: left;
    a {
        display: block;
        width: 170px;
        height: 60px;
        float: left;
    }
    p {
        width: 110px;
        height: 40px;
        font-size: 25px;
        font-weight: 500;
        line-height: 40px;
        text-align: right;
        float: left;
        margin-top: 20px;
    }
}

#header span {
    width: 160px;
    height: 18px;
    float: right;
    margin-top: 30px;
    i {
        width: 18px;
        height: 18px;
        color: red;
    }
    a {
        font-size: 14px;
        line-height: 18px;
        text-align: right;
    }
}

#header span a:hover {
    color: red;
}


/* 提示部分 */

#tip {
    width: 990px;
    height: 38px;
    background-color: oldlace;
    /* i {
        display: block;
        float: left;
        width: 20px;
        height: 20px;
        border: 1px solid red;
    } */
    p {
        vertical-align: middle;
        color: #666;
        font-size: 12px;
        display: inline-block;
        margin-left: 100px;
        a {
            color: #666;
            font-size: 12px;
            display: inline-block;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}


/* banner */

#banner {
    height: 475px;
    background-color: orchid;
    background: url(../img/login1.jpg);
    position: relative;
}

.login_form {
    width: 346px;
    height: 436px;
    background-color: white;
    position: absolute;
    right: 0;
    top: 15px;
    .tips {
        width: 346px;
        height: 18px;
        line-height: 18px;
        padding: 10px 0;
        background-color: oldlace;
        /* i {
            display: inline-block;
            width: 30px;
            height: 30px;
            border: 1px solid red;
        } */
        p {
            vertical-align: middle;
            color: #999;
            font-size: 12px;
            display: inline-block;
            margin-left: 60px;
        }
    }
}

@mixin style {
    width: 173px;
    height: 54px;
    line-height: 54px;
    font-size: 18px;
    font-family: "microsoft yahei";
    text-align: center;
    border-bottom: 1px solid #f4f4f4;
    position: absolute;
    background: #fff;
    display: block;
    cursor: pointer;
}

.login_lef {
    @include style;
    left: 0;
    a {
        color: red;
    }
    span {
        color: #cecece;
        font-size: 16px;
        float: right;
    }
}

.login_rig {
    @include style;
    top: 38px;
    right: 0;
    a {
        &:hover {
            color: red;
        }
    }
}


/* 扫码登录页面 */

.malogin {
    width: 266px;
    height: 257px;
    padding: 20px;
    margin-top: 50px;
    margin-left: 20px;
    .ma_img {
        border: 1px solid #f4f4f4;
        padding: 8px;
        width: 155px;
        height: 147px;
        position: absolute;
        margin-top: 20px;
        margin-left: 40px;
        img {
            width: 147px;
            height: 147px;
            margin: 10px auto;
        }
    }
}


/* 账户登录页面 */

@mixin label {
    display: inline-block;
    color: #666;
    font-size: 20px;
    text-align: center;
    z-index: 3;
    width: 38px;
    height: 38px;
    line-height: 38px;
    background-color: #ebeaea;
    border: 1px solid #ccc9c9;
    float: left;
}

@mixin input {
    line-height: 18px;
    height: 18px;
    border: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    width: 204px;
    float: left;
    overflow: hidden;
    font-size: 12px;
    color: #666;
    border: 1px solid #bdbdbd;
    border-left: none;
}

.ZH_login {
    display: none;
}

.ZH_login {
    width: 305px;
    height: 300px;
    padding: 20px;
    .one_login {
        width: 305px;
        height: 39px;
        margin-top: 70px;
        label {
            @include label
        }
        input {
            @include input;
        }
    }
    .two_login {
        margin-top: 30px;
        width: 305px;
        height: 39px;
        label {
            @include label
        }
        input {
            @include input;
        }
    }
    .mima {
        width: 300px;
        height: 18px;
        a {
            float: right;
            width: 50px;
            height: 13px;
            font-size: 12px;
            color: #666;
            margin-top: 25px;
            &:hover {
                color: red;
                text-decoration: underline;
            }
        }
    }
    .login_bott {
        margin-top: 45px;
        button {
            border: none;
            width: 305px;
            height: 32px;
            background-color: red;
            color: white;
            border: none;
            cursor: pointer;
            text-align: center;
        }
    }
}

.font_login {
    width: 256px;
    height: 18px;
    margin-top: 200px;
    span {
        color: #666;
        font-size: 12px;
        margin-left: 55px;
    }
    a {
        color: red;
        font-size: 12px;
    }
    b {
        color: #666;
        font-size: 12px;
        // font-weight: 100;
    }
}

.bot_login {
    width: 266px;
    height: 25px;
    margin-top: 10px;
    ul {
        margin-left: 20px;
        li {
            width: 68px;
            height: 25px;
            float: left;
            margin-right: 10px;
            i {
                display: inline-block;
                width: 25px;
                height: 25px;
                font-size: 20px;
            }
            b {
                width: 25px;
                height: 25px;
                line-height: 25px;
                font-size: 12px;
            }
        }
    }
}


/* 底部 */

.low_login {
    width: 305px;
    height: 50px;
    padding: 0 20px;
    border-top: 1px solid #cecece;
    ul {
        li {
            width: 70px;
            height: 50px;
            float: left;
            font-size: 12px;
            i {
                display: inline-block;
                width: 13px;
                height: 13px;
            }
            a {
                width: 18px;
                height: 50px;
                line-height: 50px;
                margin-left: 5px;
            }
        }
        li:nth-of-type(1) {
            margin-left: 20px;
            a {
                &:hover {
                    color: red;
                    text-decoration: underline;
                }
            }
            i {
                color: lightskyblue;
            }
            span {
                font-size: 12px;
                color: #cecece;
                padding-left: 10px;
            }
        }
        li:nth-of-type(2) {
            a {
                &:hover {
                    color: red;
                    text-decoration: underline;
                }
            }
            i {
                color: green;
            }
        }
        li:nth-of-type(3) {
            margin-left: 60px;
            a {
                color: red;
                &:hover {
                    text-decoration: underline;
                }
            }
            i {
                color: red;
            }
        }
    }
}


/* 尾部 */

#footer {
    height: 86px;
    background-color: white;
}

.links {
    color: #666;
    font-size: 12px;
    a {
        display: inline-block;
        width: 51px;
        height: 13px;
        margin: 20px 10px;
        &:hover {
            color: red;
            text-decoration: underline;
        }
    }
}

.copy {
    margin: 30px 0;
    margin-left: 350px;
    color: #666;
    font-size: 12px;
}